[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
pydatalog = "*"
reactivex = "*"
pointfree = "*"
goto-statement = {git = "https://github.com/tushar-deepsource/python-goto"}
pykka = "*"
toolz = "*"
pyrsistent = "*"
sympy = "*"
pymc = "*"
gevent = "*"
autograd = "*"
numpy = "*"
perfplot = "*"
seaborn = "*"

[dev-packages]
black = "*"
wheel = "*"
jupyter-book = "*"
pexpect = "*"
ipykernel = "*"

[requires]
python_version = "3.11"
