[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
pydatalog = "*"
reactivex = "*"
pointfree = "*"
goto-statement = {git = "https://github.com/tushar-deepsource/python-goto"}

[dev-packages]
black = "*"

[requires]
python_version = "3.10"
